body
{
	height: 3000px;
	background: #DDD;
	/*padding-top: 150px;*/ /*1*/
}
.relative
{
	background: #0D0;
	color: #FFF;
	padding: 10px;
	position: relative;
	/*top: 100px;*/
	/*bottom: 150px;*/ /*/1*/
}