div
{
	/*div properties*/
	/*width: 500px;*/
	width: 300px;
	background-color: #DDD;
	margin: 10px 0;
	/*text properites*/
	color: #00F;
	/*letter-spacing: 5px;*/
	letter-spacing: normal;
	/*line-height: 2em;*/
	line-height: 50px;
	text-align: right;
}
div.ar
{
	direction:rtl;
}