p
{
	/*font-weight: bolder;*/
	/*font-family: cursive,"Times New Roman";
	font-size: large;
	
	font-weight: 700;*/
	font: italic bold 30px/40px  cursive,"Times New Roman";
	
}
p span
{
	font-size: smaller;
}
#p2
{
	font-size: smaller;
}